div {
  padding: 0px;
}

.headerbtn {
  padding: 5px;
  margin: 5px;
  width: 100px;
  background: none;
  border: none;
  color: aliceblue;
  font-size: 20px;
}

.headerbtn:hover {
  color: rgb(228, 243, 20);
}
