#product-box {
  padding: 20px;
  border: 2px solid rgb(207, 207, 207);
  border-radius: 10px;
  width: 30%;
  height: 600px;
  float: left;
  margin: 10px;
  overflow: inherit;
}

#product-box:hover {
  box-shadow: 0px 0px 10px 5px rgb(196, 196, 196);
}

.product-flield {
  padding: 5px;
}
